/* HERO */

.hero-section {
  background-color: var(--section-dark-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  min-width: 696px;
}

.btn {
  display: inline-block;
  font-family: "roboto", sans-serif;
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--hover-color);
  border: none;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* 4 ГЛАВНЫХ ПРИНЦИПА */

.principles-section {
  padding-top: 94px;
}

.principles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.principles-list .item {
  width: calc((100% - 4 * 30px) / 4);
  margin: 15px;
}

.principles-div {
  display: flex;
  height: 120px;
  background-color: var(--section-gray-bg-color);
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.principle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}

.principle-text {
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.what-we-do-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.what-we-do-list .item {
  position: relative;
  width: calc((100% - 3 * 30px) / 3);
  margin: 15px;
}

.what-we-do-list .item-title {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

/* НАША КОМАНДА */

.our-team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.worker-card {
  margin: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-info {
  font-size: 16px;
  background-color: white;
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.worker-name {
  margin-bottom: 10px;
}

.worker-position {
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social-networks-list {
  display: flex;
  justify-content: center;
}

.social-network-item:not(:last-child) {
  margin-right: 10px;
}

.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-network-icon {
  fill: var(--icons-gray);
}

.social-network-link:hover {
  background-color: var(--hover-color);
}

.social-network-link:hover .social-network-icon {
  fill: white;
}

/* КЛИЕНТЫ */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icons-gray);
  border-radius: 4px;
}

.client-icon {
  fill: var(--icons-gray);
}

.client-link:hover {
  border-color: var(--hover-color);
}

.client-link:hover .client-icon {
  fill: var(--hover-color);
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: white;

  transform: translate(-50%, -50%);
}
